<div class="grid grid-cols-2 h-full [&>*]:border [&>*]:border-purple-400">
  <div class="grid place-items-center h-full relative overflow-x-hidden">
    <fast-marquee
      direction="left"
      [autoFill]="false"
      [pauseOnHover]="true"
      [play]="play()"
      [useMask]="true"
      [maskPercentage]="100"
      gradientColor="#171717"
      [gradientStartSize]="500"
      [gradientSize]="100"
      [speed]="150">
      <div>FIRSTHello</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-y-hidden">
    <fast-marquee
      direction="up"
      [autoFill]="true"
      [pauseOnClick]="true"
      gradientColor="#171717"
      [gradientSize]="100"
      [speed]="50">
      <div>FIRSTHello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-y-hidden">
    <fast-marquee
      direction="down"
      [autoFill]="true">
      <div>FIRSTHello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-x-hidden">
    <fast-marquee direction="right">
      <div class="overflow-decoration">FIRSTHello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
</div>
