<div
  class="grid grid-cols-2 h-full [&>*]:outline [&>*]:outline-2 [&>*]:outline-purple-400">
  <div class="grid place-items-center h-full relative overflow-x-hidden">
    <fast-marquee
      direction="left"
      [autoFill]="false"
      [pauseOnHover]="false">
      <div>Hello</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-y-hidden">
    <fast-marquee
      direction="up"
      [autoFill]="true">
      <div>Hello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-y-hidden">
    <fast-marquee direction="down">
      <div>Hello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
  <div class="grid place-items-center h-full relative overflow-x-hidden">
    <fast-marquee direction="right">
      <div>Hello</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>
      <div>Hello1</div>

      <div>Hello1</div>
      <div>Hello1</div>
      <div>HelloLAST</div>
    </fast-marquee>
  </div>
</div>
