.--gold-twinkle-animation {
  animation: twinkle 5s infinite;
  display: inline-block;
}

@keyframes twinkle {
  0%,
  100% {
    filter: drop-shadow(
      0 0 4px gold
    ); /* Adjust the shadow color and size as needed */
  }
  50% {
    filter: drop-shadow(
      0 0 2px gold
    ); /* Adjust the shadow color and size as needed */
  }
}

.--vanish-right-animation {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--_vanish-bg, theme("colors.zinc.900")) 5%,
      var(--_vanish-bg, theme("colors.zinc.900")) 100%
    );
    animation: vanish-right var(--_vanish-duration, 3s) linear forwards
      var(--_vanish-delay, 0.7s);
    z-index: 1;
  }
}

.--vanish-left-animation {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--_vanish-bg, theme("colors.zinc.900")) 5%,
      var(--_vanish-bg, theme("colors.zinc.900")) 100%
    );
    animation: vanish-left var(--_vanish-duration, 3s) linear forwards
      var(--_vanish-delay, 0.7s);
    z-index: 1;
  }
}

@keyframes vanish-right {
  0% {
    left: -20;
  }
  100% {
    left: 110%;
  }
}

@keyframes vanish-left {
  0% {
    right: -20%;
  }
  100% {
    right: 110%;
  }
}
