.emoji-star-animation {
  animation: twinkle 5s infinite;
  display: inline-block;
}

@keyframes twinkle {
  0%,
  100% {
    filter: drop-shadow(
      0 0 4px gold
    ); /* Adjust the shadow color and size as needed */
  }
  50% {
    filter: drop-shadow(
      0 0 8px gold
    ); /* Adjust the shadow color and size as needed */
  }
}
