@font-face {
  font-family: "ubuntu-mono";
  src: url("../assets/fonts/ubuntu-mono/UbuntuMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu-mono";
  src: url("../assets/fonts/ubuntu-mono/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu-mono";
  src: url("../assets/fonts/ubuntu-mono/UbuntuMono-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ubuntu-mono";
  src: url("../assets/fonts/ubuntu-mono/UbuntuMono-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}
