@import './fast-marquee-inner.scss';

.ngx-fast-marquee {
  display: block;
  --nfm-inner-size: 200%;

  &[data-animate='true'] {
    .ngx-fast-marquee-inner {
      --nfm-inner-animation-play-state: running;
    }
  }

  &[data-autofill='true'],
  &[data-content-overflowing='true'] {
    .ngx-fast-marquee-inner {
      --nfm-inner-size: max-content;
    }
  }

  &[data-direction='right'],
  &[data-direction='left'] {
    width: 100%;
    height: auto;
    overflow-x: hidden;

    .ngx-fast-marquee-inner {
      --nfm-inner-translation: translateX(-50%);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      width: var(--nfm-inner-size);
      height: auto;

      &__content,
      &__content-hidden {
        flex-direction: row;
      }
    }

    &[data-autofill='true'] {
      .ngx-fast-marquee-inner {
        grid-template-columns: repeat(2, auto);
      }
    }
  }

  &[data-direction='up'],
  &[data-direction='down'] {
    width: auto;
    height: 100%;
    overflow-y: hidden;

    .ngx-fast-marquee-inner {
      --nfm-inner-translation: translateY(-50%);
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 1fr);
      width: auto;
      height: var(--nfm-inner-size);

      &__content,
      &__content-hidden {
        flex-direction: column;
      }
    }

    &[data-autofill='true'] {
      .ngx-fast-marquee-inner {
        grid-template-rows: repeat(2, auto);
      }
    }
  }

  &[data-direction='right'],
  &[data-direction='down'] {
    --nfm-inner-animation-direction: reverse;
  }

  &[data-direction='left'],
  &[data-direction='up'] {
    --nfm-inner-animation-direction: normal;
  }
}
