@import './fast-marquee-inner.scss';

.ngx-fast-marquee {
  display: block;
  position: relative;

  --nfm-inner-size: 200%;
  --nfm-gradient-color: transparent;
  --nfm-fading-direction: 90deg;
  --nfm-gradient-start-size: 0px;
  --nfm-gradient-end-size: 0px;
  --nfm-mask-start-percentage: 0%;
  --nfm-mask-end-percentage: 0%;
  --nfm-inner-animation-duration: 10s;
  --nfm-inner-animation-iteration-count: infinite;
  --nfm-inner-animation-play-state: paused;
  --nfm-number-of-items: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
  }

  &[data-animate='true'] {
    .ngx-fast-marquee-inner {
      --nfm-inner-animation-play-state: running;
    }
  }

  &[data-autofill='true'] {
    .ngx-fast-marquee-inner {
      --nfm-inner-size: max-content;
    }
  }

  &[data-direction='right'],
  &[data-direction='left'] {
    width: 100%;
    min-width: 100%;
    height: auto;
    overflow-y: visible;

    &::before,
    &::after {
      top: 0;
      height: 100%;
    }

    &::before {
      left: 0;
      width: var(--nfm-gradient-start-size);
      background: linear-gradient(
        var(--nfm-fading-direction),
        var(--nfm-gradient-color),
        transparent
      );
    }

    &::after {
      right: 0;
      width: var(--nfm-gradient-end-size);
      background: linear-gradient(
        var(--nfm-fading-direction),
        transparent,
        var(--nfm-gradient-color)
      );
    }

    .ngx-fast-marquee-inner {
      --nfm-inner-translation: translateX(-50%);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      width: var(--nfm-inner-size);
      height: auto;

      &__content,
      &__content-hidden {
        flex-direction: row;
      }
    }

    &[data-autofill='true'] {
      .ngx-fast-marquee-inner {
        grid-template-columns: repeat(2, auto);
      }
    }
  }

  &[data-direction='up'],
  &[data-direction='down'] {
    width: auto;
    height: 100%;
    min-height: 100%;
    overflow-x: visible;

    &::before,
    &::after {
      left: 0;
      width: 100%;
      --nfm-fading-direction: 0deg;
    }

    &::before {
      top: 0;
      height: var(--nfm-gradient-start-size);
      background: linear-gradient(
        var(--nfm-fading-direction),
        transparent,
        var(--nfm-gradient-color)
      );
    }

    &::after {
      bottom: 0;
      height: var(--nfm-gradient-start-size);
      background: linear-gradient(
        var(--nfm-fading-direction),
        var(--nfm-gradient-color),
        transparent
      );
    }

    .ngx-fast-marquee-inner {
      --nfm-inner-translation: translateY(-50%);
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 1fr);
      width: auto;
      height: var(--nfm-inner-size);

      &__content,
      &__content-hidden {
        flex-direction: column;
      }
    }

    &[data-autofill='true'] {
      .ngx-fast-marquee-inner {
        grid-template-rows: repeat(2, auto);
      }
    }
  }

  &[data-direction='right'],
  &[data-direction='down'] {
    --nfm-inner-animation-direction: reverse;
  }

  &[data-direction='left'],
  &[data-direction='up'] {
    --nfm-inner-animation-direction: normal;
  }

  &[data-pause-on-hover='true']:hover,
  &[data-pause-on-click='true']:active {
    .ngx-fast-marquee-inner {
      --nfm-inner-animation-play-state: paused;
    }
  }

  &[data-use-mask='true'] {
    $linear-gradient: linear-gradient(
      var(--nfm-fading-direction),
      transparent,
      white calc(var(--nfm-mask-start-percentage) * 0.5),
      white calc(100% - var(--nfm-mask-end-percentage) * 0.5),
      transparent
    );

    &::before,
    &::after {
      display: none;
    }
    -webkit-mask: $linear-gradient;
    mask: $linear-gradient;
  }

  &[data-speed='fast'] {
    --nfm-inner-animation-duration: calc(var(--nfm-number-of-items) * 0.5s);
  }

  &[data-speed='medium'] {
    --nfm-inner-animation-duration: calc(var(--nfm-number-of-items) * 5s);
  }

  &[data-speed='slow'] {
    --nfm-inner-animation-duration: calc(var(--nfm-number-of-items) * 10s);
  }
}
