<div class="h-[30vh]"></div>
<div
  class="absolute bottom-0 right-0 w-[40vw] h-[30vh] bg-neutral-700"
  style="clip-path: polygon(80% 0, 100% 0%, 100% 100%, 0% 100%)"
>
  <div
    class="absolute inset-0 bg-zinc-900 overflow-hidden"
    style="
      clip-path: polygon(
        calc(80% + 4px) 10px,
        calc(100% - 10px) 10px,
        calc(100% - 10px) calc(100% - 10px),
        32px calc(100% - 10px)
      );
    "
  >
    <ngx-fast-marquee class="absolute left-0 right-0 bottom-0" [speed]="200">
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
    </ngx-fast-marquee>
  </div>
</div>
