<div class="grid place-items-center h-full animate-fade-down animate-delay-300">
  <ngx-fast-marquee [speed]="250" direction="right" class="w-full">
    <div class="px-4 text-3xl font-serif text-purple-500">Ngx</div>
    <div class="px-4 text-xl font-bold">Fast</div>
    <div class="px-4 text-4xl font-mono">Marquee</div>
    <div class="px-4 text-lg font-bold">Ngx</div>
    <div class="px-4 2xl font-bold text-green-500">Fast</div>
    <div class="px-4 4xl italic">Marquee</div>
  </ngx-fast-marquee>
  <!-- <div
    class="min-w-[180x] min-h-[180x] w-[30vw] h-[30vw] sm:h-auto sm:w-[20vw] bg-black border-2 border-zinc-800 rounded overflow-hidden flex flex-col justify-center gap-2 fixed right-12 bottom-0 -rotate-45 -translate-y-1/2"
  >
    <ngx-fast-marquee [speed]="50">
      <div class="px-4 border border-green-400 text-2xl">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
    </ngx-fast-marquee>
    <ngx-fast-marquee [speed]="50" direction="right">
      <div class="px-4 border border-green-400 text-2xl">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
    </ngx-fast-marquee>
    <ngx-fast-marquee [speed]="50">
      <div class="px-4 border border-green-400 text-2xl">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
    </ngx-fast-marquee>
    <ngx-fast-marquee [speed]="50" direction="right">
      <div class="px-4 border border-green-400 text-2xl">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
      <div class="px-4">Item</div>
    </ngx-fast-marquee>
  </div> -->
</div>
